.teachers-container{
    /* position: absolute;
    height: 500px;
    width: 900px; */
    height: 100vh;
}

.teachers-nav-bar{
    /* position: absolute; */
    height: 10%;
    background-color: rgb(20, 59, 118);
    /* background-color: #007bff; */
    color: white;
  
  
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: space-between; */
}
  
  
.teachers-left-nav-bar{
    /* height: 10%; */
    /* display: flex; */
    /* justify-content:flex-start; */
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* margin-right: 35px; */
    left: 2%;
    padding-top: 10px;
}
  
.teachers-right-nav-bar{
    padding-top: 10px;
    font-size: 25px;
    position: absolute;
    right:0%
}
  
.teachers-word{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}


.teachers-body{
    /* position: absolute; */
    height: 90%;
    /* background-color: red; */
    background-image: url("./university2.jpg");
    background-size: cover;

    /* background-position:bottom 50px; */

    /* background-position:center; */
    background-position: 0px -80px;
}

.courses-container{
    position: absolute;
    top:200px;
    left:100px;
}

.modalidad-container{
    position: absolute;
    top:300px;
    left:100px;
}

.respuesta-container{
    position: absolute;
    top:400px;
    left:100px;
}

.container-btn-success{
    position: absolute;
    top:500px;
    left:100px;
}

.teachers-list-data{
    position: absolute;
    top:100px;
    left:400px;
    background-color: rgba(255, 255, 255, 0.537);
}


.teacher-container{
    /* background-color: white; */
    display: flex;
    margin: auto;

    height: 120px;
    width: 100px;

    width: 500px;
    padding: 20px;
    outline: 2px solid black;
}

.row-left{
    flex:1;
    /* outline: 2px solid black; */
}

.row-left img {
    max-height: 100%;
    max-width: 100%;
    
    
}

.row-right{
    align-items: center;
    flex-direction: column;

    display: flex;
    flex:3;

    font-size: 15px;
}