.register-container{
    height: 100vh;
}


.register-nav-bar{
    /* position: absolute; */
    height: 10%;
    background-color: rgb(20, 59, 118);
    /* background-color: #007bff; */
    color: white;
  
  
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: space-between; */
}
  
  
.register-left-nav-bar{
    /* height: 10%; */
    /* display: flex; */
    /* justify-content:flex-start; */
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* margin-right: 35px; */
    left: 2%;
    padding-top: 10px;
}
  
.register-right-nav-bar{
    padding-top: 10px;
    font-size: 25px;
    position: absolute;
    right:0%
}
  
.register-word{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}


.register-body{
    height: 90%;
    /* width: 900px; */
    /* background-image: url("./school.jpg"); */
    background-image: url("./university2.jpg");
    background-size: cover;

    background-position: 0px -80px;
}

/* form */

.out-register-input{
    position: absolute;

    top:17%;
    left: 37%; 
    
    height: 460px;
    width: 350px;

    /* outline: 2px solid black; */
    background-color: rgba(255, 255, 255, 0.537);

    padding: 10px;
}


.form-group label{
    /* margin-bottom: 15px; */
    /* font-size: 10px; */
}


.form-control{
    outline: 2px solid black;
    border-radius: 1px;
    height: 30px;
}


/* button */

.register-button-out{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.register-button{
    padding-left: 20px;
    padding-right: 20px;

    color: white;
    background-color:rgb(20, 20, 155);
    box-shadow: 3px 3px black;

}